@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500;1,600&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Trispace", sans-serif;
  padding-top: 33px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .header {
    flex-wrap: wrap;
    gap: 30px;
  }
  .nav {
    display: none;
  }
  .logo-element a img {
    max-width: 100px;
  }
  .logo-element {
    margin-right: 0px !important;
  }
  .main {
    flex-direction: column;
  }
  .main-top {
    width: 100% !important;
    text-align: center;
    margin-top: 50px;
  }
  .main-top-image > .main-top-image-src {
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .shop-page > .shoop-page-choosed-items {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .item-description-wrapper > .item-description {
    flex-direction: column !important;
  }
  .item-describe-description p {
    width: auto !important;
    margin-bottom: 20px;
  }
}
